body {
	background-color: #EAE5E5;
}

.page-wrap {
	background-color: #5979a6;
	max-width: 1000px;
	width: 80%;
	margin: 0 auto; 
}

.page-header {
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	background-color: #354964;
}

.log-in {
	float: left;
	width: 50%;
}

.log-in-field {
	margin: 20%;
	margin-bottom: 135px;
	margin-top: 135px;
}

.registration {
	display: inline-block;
	width: 50%;
}

.reg-field {
	margin: 20%;
}

.legend {
	font-size: 150%;
}