.body {
	background: #ccc;
}

.container {
	margin-top: 12%;
}

.btn-link {
	margin-left: 72%;
}

#info {
	max-width: 860px;
    margin: 12px auto;
    padding: 12px;
    background: #efefef;
    box-shadow: 0 4px 8px 8px #bbb;
    text-align: center;
    border-radius: 20px;
}

#add {
	margin-top: 3%;

}

#elected-courses-txt {
	margin-left: 3%;
}

#electives {
	margin-left: 1%;
	width: 57.4%;
}